@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    width: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Urbanist", sans-serif;
}
.ptb-70{
    padding: 4.375rem 0;
}
/* header css start */
.site-header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.25rem 0;
}
.site-header ul.navbar-nav li a.nav-link {
    font-size: 1rem;
    /* text-transform: uppercase; */
    color: #111111;
    padding: 0;
    font-weight: 500;
}
.site-header ul.navbar-nav li a.nav-link:hover, .site-header ul.navbar-nav li a.nav-link.active{
    color: #ff6b00;
}
.site-header ul.navbar-nav li{
    padding: 0 0.9375rem;
}

.site-header nav.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.site-header .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    font-size: 0;
    text-decoration: none;
    white-space: normal;
    display: inline-block;
    background-image: url(../images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15.625rem;
    height: 3.75rem;
}
.site-header.scrolling_down {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background: #fff;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* header css end */


/* banner section css start */
.site-banner{
    background-image: url(../images/hero-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
}
.site-banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color: #005edc; */
    background-color: #000;
    opacity: 0.5;
}
.banner-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}
.banner-text{
    max-width: 50rem;
    padding: 0 1.25rem;
    margin: 0 auto;
    text-align: center;
}
.banner-text h1 {
    font-size: 4.375rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 0.625rem;
}
.banner-text p{
    font-size: 1.5625rem;
    color: #eee;
    font-weight: 500;
}
/* banner section csss end */
/* top section css start */
.top-wrap{
    max-width: 56.25rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1.5625rem;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
}
.top-wrap p{
    font-size: 1.125rem;
    line-height: 1.7;
    color: #777;
    margin-bottom: 0;
}

/* top section css end */

/* link card section css start */
.link-sec{
    background-color: #F6FBFF;
}
.link-wrap{
    /* background-image: url(../images/link-card-01.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    transition: all 0.3s linear;
}
.link-one{
    background-image: url(../images/link-card-01.png);
}
.link-two{
    background-image: url(../images/link-card-02.jpg);
}
.link-three{
    background-image: url(../images/link-card-03.jpg);
}
.link-four{
    background-image: url(../images/link-card-04.webp);
}
.link-wrap::before, .link-wrap::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.4;
    transition: all 0.3s linear;
}
.link-wrap::after{
    height: 0;
}
.link-wrap:hover::after{
    height: 100%;
    }
.link-wrap a{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}
.link-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.625rem;
}
.link-wrap:hover h3{
    text-decoration: underline;
}
.link-text h3 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.5625rem;
    color: #fff;
    font-weight: 700;
}

/* link card section css end */
/* sign up section css start */
.signup-wrap form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.signup-group {
    width: 21%;
}
.signup-group input, .signup-group select{
    height: 2.8125rem;
    width: 100%;
    border: 1px solid #cdcfd1;
    padding: 0.625rem;
    border-radius: 5px;
    font-size: 0.875rem;
    color:#777;
}
.signup-btn{
    width: 12%;
}
.signup-btn button {
    width: 100%;
    height: 2.8125rem;
    border: none;
    border-radius: 5px;
    background: #ff6b00;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.signup-btn button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: scale(0,0);
    z-index: -1;
    transition: all 500ms ease;
    background-color: #000;
    border: 2px solid #000;
}
.signup-btn button:hover::before {
    transform: scale(1,1);
}
.signup-heading h4 {
    text-align: center;
    font-size: 1.5625rem;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 1.5625rem;
}
/* sign up section css start */

/* why with us section css start */
.why-with-sec{
    background-color: #F6FBFF;
}
.site-heading h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #111;
}
.why-with-sec .row{
    margin-top: 3.125rem;
}
.why-with-sec .col-lg-4{
    margin-bottom: 1.875rem;
}
.why-wrap {
    position: relative;
    display: block;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    padding: 3.125rem 1.875rem 2.8125rem 1.875rem;
    transition: all 500ms ease;
    height: 100%;
}
.why-wrap:hover{
    transform: translateY(-0.625rem);
}
.why-icon {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 1.5625rem;
    background-color: #ff6b00;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
}
.why-icons{
    background-image: url(../images/cruise.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}
.why-one{
    background-image: url(../images/why1.png);
}
.why-two{
    background-image: url(../images/why2.png);
}
.why-three{
    background-image: url(../images/why3.png);
}
.why-four{
    background-image: url(../images/why4.png);
}
.why-five{
    background-image: url(../images/why5.png);
}
.why-six{
    background-image: url(../images/why6.png);
}

.why-text {
    text-align: center;
}
.why-text h4 {
    font-size: 1.5625rem;
    color: #111;
    font-weight: 600;
    margin-bottom: 0.9375rem;
}

.why-text p {
    color: #6a6a6a;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 0;
}
/* why with us section css end */
/* newsletter section css start */
.newsletter-wrap{
    background-color: #ff6b00;
    padding: 3.3125rem 3.75rem;
    border-radius: 10px;
    overflow: hidden;
    max-width: 53.125rem;
    margin: 0 auto;
}

.newsletter-text h3 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 0.625rem;
    text-align: center;
}
.newsletter-text p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 0;
    text-align: center;
}
.newsletter-form {
    max-width: 85%;
    margin: 0 auto;
    margin-top: 1.875rem;
}

.newsletter-group input {
    width: 75%;
    position: relative;
    display: block;
    height: 2.8125rem;
    background: #fff;
    border-radius: 5px;
    font-size: 1rem;
    color: #9F9D9D;
    padding: 0.625rem 1.25rem;
    transition: all 500ms ease;
    border: none;
}
.newsletter-group button {
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-weight: 500;
    text-align: center;
    background: #111111;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 500ms ease;
    width: 22%;
    height: 2.8125rem;
    border: none;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.newsletter-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter-group button::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: scale(0,0);
    z-index: -1;
    transition: all 500ms ease;
    background-color: #fff;
}
.newsletter-group button:hover::before{
    transform: scale(1,1);
}
.newsletter-group button:hover{
    background-color: #fff;
    color: #000;
}
/* newsletter section css end */

/* faq section css start */
.faq-sec, .bg-one{
    background-color: #F6FBFF;
}
.faq-wrap {
    max-width: 56.25rem;
    margin: 0 auto;
    margin-top: 1.875rem;
}
.accordion .accordion-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e5e5e5;
  }
  .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #ff6b00;
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #ff6b00;
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #ff6b00;
    border: 1px solid #ff6b00;
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .accordion button[aria-expanded=true] {
    color: #ff6b00;
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }

/* faq section css end */

/* footer section css start */
.site-footer{
    position: relative;
    background: #191919;
    padding-top: 4.375rem;
    padding-bottom: 3.125rem;
}


.pattern-layer {

    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 35rem;
    background-image: url(https://wp1.themevibrant.com/newwp/travic/wp-content/uploads/2023/11/shape-5.png);
    background-repeat: repeat-x;
    background-position: bottom center;
    animation: slide 60s linear infinite;
}



@keyframes slide{
    from { background-position: 0 0; }
      to { background-position: 1920px 0; }
  }
  


.site-footer .container{
    position: relative;
}

.disclaimer-text h4, .footer-wrap h4 {
    font-size: 1.5625rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0.9375rem;
}
.disclaimer-text p {
    color: #fff;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 0;
}
.footer-links ul li a {
    font-size: 1rem;
    color: #fff;
}
.footer-links ul li a:hover{
    color: #ff6b00;
}
.footer-links ul li{
    margin-bottom: 0.9375rem;
}
.social-links ul li a {
    border: 2px solid #fff;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1rem;
    color: #fff;
    padding: 5px;
    transition: all 0.3s linear;
}
.social-links ul li a:hover{
    background-color: #ff6b00;
    border-color: #ff6b00;
}
.social-links ul {
    display: flex;
    align-items: center;
}
.social-links ul li {
    padding-right: 0.9375rem;
}
.copy-right {
    margin-top: 3.125rem;
    border-top: 1px solid #eee;
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy-right p {
    color: #fff;
    margin-bottom: 0;
}
.ssl-logo-img{
background-image: url(../images/ssl-logo.png);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
height: 100%;
width: 100%;
}
.ssl-logo {
    height: 4.375rem;
    width: 4.375rem;
}
/* footer section css end */


/* sub pages css start */
.mediterranean-main  .site-heading {
    margin-bottom: 3.125rem;
}
.mediterranean-img{
    background-image: url(../images/Mediterranean-card-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.mediterranean-one{
    background-image: url(../images/Mediterranean-card-1.jpg);
}
.mediterranean-two{
    background-image: url(../images/Mediterranean-card-2.jpg);
}
.mediterranean-three{
    background-image: url(../images/Mediterranean-card-3.avif);
}
.mediterranean-four{
    background-image: url(../images/Mediterranean-card-4.jpg);
}

.mediterranean-five{
    background-image: url(../images/Mediterranean-card-5.jpg);
}

.caribbean-one{
    background-image: url(../images/caribbean-card-1.jpg);
}
.caribbean-two{
    background-image: url(../images/caribbean-card-2.avif);
}
.caribbean-three{
    background-image: url(../images/caribbean-card-3.jpg);
}
.caribbean-four{
    background-image: url(../images/caribbean-card-4.jpg);
}
.caribbean-five{
    background-image: url(../images/caribbean-card-5.jpg);
}
.caribbean-six{
    background-image: url(../images/caribbean-card-6.avif);
}
.casino-one{
    background-image: url(../images/casino-card-1.jpg);
}

.casino-one{
    background-image: url(../images/casino-card-1.jpg);
}
.casino-two{
    background-image: url(../images/casino-card-2.jpg);
}
.casino-three{
    background-image: url(../images/casino-card-3.jpg);
}
.casino-four{
    background-image: url(../images/casino-card-4.jpg);
}
.casino-five{
    background-image: url(../images/casino-card-5.png);
}
.casino-six{
    background-image: url(../images/casino-card-6.jpeg);
}

.nordic-one{
    background-image: url(../images/nordic-card-1.webp);
}
.nordic-two{
    background-image: url(../images/nordic-card-2.jpg);
}
.nordic-three{
    background-image: url(../images/nordic-card-3.jpg);
}
.nordic-four{
    background-image: url(../images/nordic-card-4.webp);
}
.nordic-five{
    background-image: url(../images/nordic-card-5.jpg);
}
.nordic-six{
    background-image: url(../images/nordic-card-6.jfif);
}




/* .mediterranean-one{
    background-image: url(../images/Mediterranean-card-1.jpg);
}
.mediterranean-one{
    background-image: url(../images/Mediterranean-card-1.jpg);
} */











.mediterranean-wrap{
    display: flex;
    justify-content: center;
    box-shadow: rgb(100 100 111 / 10%) 0px 7px 29px 0px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin: 1.875rem 0;

}
.mediterranean-left{
    width: 50%;
}
.mediterranean-right{
    width: 50%;
    padding: 1.5625rem;
}
.mediterranean-text h4 {
    font-size: 1.5625rem;
    font-weight: 600;
    color: #111;
    margin-bottom: 0px;
    line-height: 1.1;
}
.mediterranean-text h5 {
    font-size: 1.25rem;
    margin-bottom: 0;
    color: #111;
    font-weight: 500;
}
.mediterranean-text p {
    color: #7A7A7A;
    margin-bottom: 0;
    font-size: 1rem;
}
.mediterranean-text strong{
    color: #111;
}
.cruise-loc {
    margin: 0.9375rem 0;
}
.mediterranean-text ul{
    margin: 0.625rem 0;
    padding-left: 1.25rem;
    list-style: disc;
}
.mediterranean-text ul li{
    font-size: 1rem;
    color: #7A7A7A;
    padding: 4px 0;
}
.mediterranean-text ul li::marker{
    color: #111;
}
.view-btns a, .view-btns a.viewmore{
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-weight: 500;
    text-align: center;
    background: #111111;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 500ms ease;
    border: none;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0.625rem 1.875rem;
    margin-right: 0.625rem;
}
.view-btns a.viewmore{
    background-color: #ff6b00;
    color: #fff;
}
.view-btns a::before, .view-btns a.viewmore::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: scale(0, 0);
    z-index: -1;
    transition: all 500ms ease;
    background-color: #ff6b00;
}
.view-btns a.viewmore::before{
    background-color: #111;
}
.view-btns a:hover::before, .view-btns a.viewmore:hover::before{
    transform: scale(1, 1);

}
.view-btns a:hover{
    background-color: #ff6b00;
    color: #fff;
}
.view-btns {
    margin-top: 1.875rem;
    border-top: 1px solid #777;
    padding-top: 1.875rem;
}
.moretext{
    display: none;
}
/* sub pages css end */
/* contact us page css start */
.contact-wrap{
    margin: 1.875rem auto;
    max-width: 56.25rem;
}
.contact-wrap h4 {
    font-size: 1.5625rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    color: #111;
}
.contact-wrap p {
    font-size: 1rem;
    color: #6a6a6a;
    margin-bottom: 5px;
}
.contact-wrap  strong{
    color: #111;
}
.contact-wrap a{
    text-decoration: underline;
    color: #111;
}
.contact-social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    padding: 5px;
    background:#000;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.375rem;
}
.contact-social ul li a.fb{
    background: linear-gradient(135deg, #1877f2, #00a3f8);
}
.contact-social ul li a.in{
    background: linear-gradient(45deg, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);

}
.contact-social ul li a.tw{
    background: linear-gradient(135deg, #000000, #1a1a1a, #4d4d4d);
}
.contact-social ul {
    display: flex;
    align-items: center;
    margin-top: 1.875rem;
}
.contact-social ul li{
    padding-right: 0.9375rem;
    transition: all 0.3s linear;
}
.contact-social ul li:hover{
    transform: translateY(-5px);
}

.contact-form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.875rem;
    border-radius: 10px;
    margin-top: 1.875rem;
}
.contact-group input, .contact-group textarea {
    width: 100%;
    height: 3.4375rem;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-size: 0.875rem;
    color: #6A6A6A;
    padding: 0.625rem 1.875rem;
}
.contact-group textarea{
    height: 12.5rem;
    resize: none;
}
.contact-group {
margin-bottom: 0.9375rem;
}

.contact-btn button {
    font-size: 0.875rem;
    line-height: 1.875rem;
    font-weight: 500;
    text-align: center;
    background: #111111;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 500ms ease;
    border: none;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 0.625rem 2.1875rem;
}
.contact-btn button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff6b00;
    transform: scale(0, 0);
    z-index: -1;
    transition: all 500ms linear;
}
.contact-btn button:hover::before{
    transform: scale(1, 1);
}
.contact-btn {
    margin-top: 1.5625rem;
}
/* contact us page css end */

/* privacy main section css start */
.privacy-wrap h4{
    font-size: 1.5625rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    color: #111;
    line-height: 1.1;
}
.privacy-wrap p{
    font-size: 1rem;
    margin-bottom: 0.625rem;
    color: #333;
    line-height: 1.7;
}
.privacy-wrap strong{
    color: #111;
}
.privacy-wrap a{
    color: #111;
    text-decoration: underline;
    font-weight: 500;
}
.privacy-wrap ul {
    padding-left: 1.25rem;
    list-style: disc;
    margin: 0.625rem 0;
}
.privacy-wrap ul li::marker{
    color: #111;
}
.privacy-wrap ul li {
    font-size: 1rem;
    color: #333;
    padding: 4px 0;
    line-height: 1.7;
}
.privacy-wrap {
    margin: 1.875rem 0;
}
/* privacy main section css end */

/* sub banner css start */
.site-banner.sub-banner {
    height: 37.5rem;
}
.sub-banner .banner-text h1 {
    font-size: 3.125rem;
}
.sub-banner .banner-text p {
    font-size: 1.25rem;
}
.mediterranean-banner{
    background-image: url(../images/Mediterranean-banner.jpg);
}
.caribbean-banner{
    background-image: url(../images/caribbean-banner.jpg);
}
.casino-banner{
    background-image: url(../images/casino-banner.webp);
}
.nordic-banner{
    background-image: url(../images/nordic-banner.webp);
}
.contact-banner{
    background-image: url(../images/contact-banner.jpg);
}
.term-banner{
    background-image: url(../images/term-banner.jpg);
}
.privacy-banner{
    background-image: url(../images/privacy-banner.webp);
}
.personal-banner{
    background-image: url(../images/personal-banner.jpg);
}
.refund-banner{
    background-image: url(../images/refund-banner.jpg);
}
.about-banner{
    background-image: url(../images/abt-banner.jfif);
}

/* sub banner css end */
.link-sec, .site-footer, .contact-main {
    overflow: hidden;
}

.abt-img{
    /* background-image: url(../images/caribbean-banner.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.abt-one{
    background-image: url(../images/abt-one.jpg);
}
.abt-two{
    background-image: url(../images/abt-two.png);
}
.abt-three{
    background-image: url(../images/abt-three.jpg);
}
.abt-four{
    background-image: url(../images/abt-four.webp);
}

.abt-text {
    padding: 1.5625rem;
}
.abt-text h3 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    color: #000;
}
.abt-text p {
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 0.9375rem;
}
.abt-wrap {
    background: #f6fbff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 3.125rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.abt-wrap strong{
    color: #000;
}
.abt-wrap ul{
    padding-left: 1.25rem;
    list-style: disc;
}
.abt-wrap ul li{
    font-size: 1rem;
    padding: 4px 0;
    line-height: 1.5;
}
.abt-wrap ul li::marker{
    color: #000;
}
.footer-wrap {
    padding-left: 20px;
}